/*RESET*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*GENERIC*/

body{
    font-family: 'Open Sans', sans-serif;
}

ul{
    list-style-type: none;
}
a{
    color: black;
    text-decoration: none;
}

h1{
    font-size: 5rem;
    font-weight: 40px;
    text-align: center;
}
/*UTILS*/

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.border{
    border: 1px solid black;
}

.flex{
    display: flex ;
}
.row{
    display: flex;
    flex-wrap: wrap;
}

.mg-30{
    margin-bottom: 30px;
}
ul{
    list-style-type: none;
}
a{
    color: black;
    text-decoration: none;
}

img{
    max-width: 100%;
    display: block;
}

.btn{
    color: white;
    background-color: #999;
    padding: 10px 15px;
    display: inline-block;
    align-content: center;
    border: none;
}

.btn-small{
    background-color: #0061ff;
    color: white;
    padding: 5px 10px;
}
/*HEADER*/

#main-header{
    height: 80px;
    background-color: white;
    box-shadow: 0 1px 3px #666;

    position: sticky;
    top: 0;
    left: 0;

    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}
#main-header ul{
    display: flex;
    align-items: center;
    gap: 15px;
}

/*MAIN*/
main{

}

/*PRIMO BLOCCO*/

#jumboscreen{
    height: 400px;
    margin: 0 auto;
    background-color: #B4D0E7;
}

/*SECONDO BLOCCO*/

.subscribe-section{
    width: 60%;
    margin: 0 auto;
}
.subscribe-box{
    height: 500px;
    width: 400px;
}
.subscribe-box2{
    height: 300px;
    width: 100%;
}

/*TERZO BLOCCO*/
.partner-box{
    justify-content: center;
}

















/*














body{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Rubik Mono One', monospace;;
}

ul{
    list-style-type: none;
}

/*UTILS*/
.container{
    max-width: 1200px;
    margin: 0 auto;
}

.flex{
    display: flex;
}

.block{
    display: block;
}

bo