/*RESET*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*GENERIC*/

body{
    font-family: 'Open Sans', sans-serif;
}

ul{
    list-style-type: none;
}
a{
    color: black;
    text-decoration: none;
}

h1{
    font-size: 70px;
}

/*UTILS*/

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.border{
    border: 1px solid black;
}

.flex{
    display: flex ;
}
.mg-30{
    margin-bottom: 30px;
}
ul{
    list-style-type: none;
}
a{
    color: black;
    text-decoration: none;
}

img{
    max-width: 100%;
    display: block;
}

.btn{
    color: white;
    background-color: #999;
    padding: 10px 15px;
    display: inline-block;
    align-content: center;
    border: none;
}

.btn-small{
    background-color: #0061ff;
    color: white;
    padding: 5px 10px;
}
/*HEADER*/

#main-header{
    height: 80px;
    background-color: white;
    box-shadow: 0 1px 3px #666;

    position: sticky;
    top: 0;
    left: 0;

    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}
#main-header ul{
    display: flex;
    align-items: center;
    gap: 15px;
}

/*MAIN*/
main{

}

/*PRIMO BLOCCO*/

#jumboscreen{
    height: 500px;
    margin: 0 auto;
    background-color: #B4D0E7;
    padding-top: 100px;
}
#jumboscreen .container{
    width: 80%;
}
.row{
    display: flex;
    justify-content: center;
}
.row .collona-40{
    flex-basis: 40%;
}
.row .collona-60{
}


/*SECONDO BLOCCO*/

.subscribe-section{
    padding-top: 100px;
    width: 60%;
    margin: 0 auto;
}
.subscribe-box{
    height: 500px;
    width: 400px;
}
.subscribe-box2{
    height: 300px;
    width: 100%;
}

/*TERZO BLOCCO*/
.partner-box{
    justify-content: center;
}


/*QUARTO BLOCCO*/
#bussines{
    padding-top: 100px;
    width: 60%;
}
.bussines-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.col-3{ 

}
.card{
    min-height: 250px;
    min-width: 250px;
}

/*QUINTO BLOCCO*/

.quintasezione {
    width: 60%;
    padding-top: 100px;
}

/*SESTO BLOCCO*/

#sestoblocco{
    border: 1px solid black;
    padding-top: 100px;
    display: flex;
}
.sestoblocco{
    border: 1px solid black;
    width: calc(100% / 3);
    height: 500px;
    display: flex;
    flex-wrap: wrap;
}
   
.box-sesto{
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;

    height: 250px;
    height: 250px;
    width: calc(100% / 2);
}
.box-sesto > img{
    width: 175px;
    height: 50px;
}

.sestoblocco-finale{
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #B4D0E7;
}

/*SETTIMO BLOCCO*/
#settimo-blocco{
    width: 100%;
    height: 500px;
    margin: 0 auto;
}
#settimo-blocco > h2{
    margin: 0 auto;
    padding: 100px;
    border-bottom: 1px solid #B4D0E7;
    width: 80%;
}

#settimo-blocco > p{
    margin: 0 auto;
    width: 80%;
    padding: 20px 0;
    border-bottom: 1px solid #B4D0E7;
}


/*FOOTER*/

footer{
    height: 500px;
    background-color: #010413;
}

#footer-box{
    display: flex;
    justify-content: space-around;
    padding: 100px;
    color: white;
}
.footer-box > h4{
    padding: 20px 0;
    text-decoration: solid;
}

.footer-lenguage{
    width: 80%;
    margin: 0 auto;
}
.footer-lenguage > p{
    color: white;

}










/*
#dropbox-business{
    padding-top: 100px;
    width: 80%;
    margin: 0 auto;
}

.business-container{
    display: flex;
    flex-wrap: wrap;
    gap: 35px;
}
.bussines-box{
    height: 500px;
    width: 400px;
}




/*



body{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Rubik Mono One', monospace;;
}

ul{
    list-style-type: none;
}

/*UTILS*/
/*
.container{
    max-width: 1200px;
    margin: 0 auto;
}

.flex{
    display: flex;
}

.block{
    display: block;
}

bo
*/