/*RESET*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*GENERIC*/

body{
    font-family: 'Open Sans', sans-serif;
}

ul{
    list-style-type: none;
}
a{
    color: black;
    text-decoration: none;
}

h1{
    font-size: 70px;
    font-weight: 700;
}

/*UTILS*/

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.border{
    border: 1px solid black;
}

.flex{
    display: flex ;
}
.mg-30{
    margin-bottom: 30px;
}
ul{
    list-style-type: none;
}
a{
    color: black;
    text-decoration: none;
}

img{
    max-width: 100%;
    display: block;
}

.btn{
    color: black;
    background-color: white;
    padding: 10px 15px;
    display: inline-block;
    align-content: center;
}

.btn-small{
    background-color: #0061ff;
    color: white;
    padding: 10px 20px;
    border: none;
}
/*HEADER*/

#main-header{
    height: 80px;
    background-color: white;
    box-shadow: 0 1px 3px #666;

    position: sticky;
    top: 0;
    left: 0;

    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}
#main-header ul{
    display: flex;
    align-items: center;
    gap: 15px;
}

/*MAIN*/
main{

}

/*PRIMO BLOCCO*/


#jumboscreen{
    height: 700px;
    margin: 0 auto;
    background-color: #B4D0E7;
    padding-top: 100px;
}
#jumboscreen .container{
    width: 80%;
}
.row{
    display: flex;
    width: 80%;
    margin: 0 auto;
    margin-top: 50px;
}
.row .collona-30{
    flex-basis: 30%;
}
.collona-30 > * {
    margin-bottom: 20px;
}
.row .collona-70{
    flex-basis: 70%;
}

.collona-60 > img{
    width: 700px;
}

/*SECONDO BLOCCO*/

.subscribe-container {
    width: 80%;
    margin: 150px auto;
}
.subscribe-title{
    width: 80%;
    margin: 0 auto;
}

.subscribe-title > *{
    margin: 40px 0;
}

.bussines-plans{
    width: 80%;
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 40px;
}
.bussines-plans {
 
}
.plan-card{
    border: 1px solid #ccc;
    flex-basis: calc(100% / 3 - 80px / 3);
}

.fullplan-card{
    flex-basis: 100%;
}

.subscribe-personal{
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

#subscibe-personal{
    padding: 20px;
}
#subscibe-personal > *{
    padding-bottom: 20px;
}

#custom-list li::before{
    content: "\f007";
    position: absolute;
    left: 0;
    top: 0;
    font-family: "Font Awesome 6.4.2 Free";
}

/*
.column {
    flex: 1;
    border: 1px solid #ccc;
}
.horizontal-row{
    width: 80%;
    margin: 0 auto;
}

.horizontal-column {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
}  

.subscribe-personal{
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

#subscibe-personal{
    padding: 20px;
}
#subscibe-personal > *{
    padding-bottom: 20px;
}
/*
.subscribe-section{
    padding-top: 100px;
    width: 60%;
    margin: 0 auto;
}
.subscribe-box{
    height: 450px;
}
.subscribe-box2{
    height: 600px;
    width: 100%;
}

.subscribe-section > h2{
    font-weight: 700;
    letter-spacing: 4px;
    padding-bottom: 30px;
}

.subscribe-section > span{
    letter-spacing: 1px;
}
*/

/*TERZO BLOCCO*/
.partner-box{
    width: 80%;
    justify-content: center;
    gap: 50px;
    margin-top: 150px;
    align-items: center;
}

.partner-box-left{
   width: 60%;
}
.partner-box-right{
   width: 40%;
}
.partner-box-right > *{
    margin: 20px;
}

/*QUARTO BLOCCO*/
#bussines{
    padding-top: 100px;
    width: 80%;
}

.bussines-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
}

.card{
    width: 250px;
    padding: 20px 20px 20px 0;
}
.card > *{
    margin-bottom: 15px;
}
/*QUINTO BLOCCO*/

.client {
    width: 80%;
    padding-top: 100px;
}
.client > nav{
    margin-top: 20px;
}
.client > nav > a{
    text-decoration: underline;
    color: blue;
    font-size: small;
}

/*SESTO BLOCCO*/

#sestoblocco{
    padding-top: 100px;
    display: flex;
}
.sestoblocco{
    width: calc(100% / 3);
    display: flex;
    flex-wrap: wrap;
}

   
.box-sesto{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    padding: 20px;

    height: 200px;
    width: calc(100% / 2);
}
#box-sesto-centro{
    padding: 25px;
    background-color: #F5F5F5;
}
#box-sesto-centro > *{
    margin-bottom: 25px;
}
.box-sesto > img{
    width: 175px;
    height: 50px;
    filter: invert(1);
}

#sestoblocco-last{
    display: flex;
    align-items: center;
    background-color: #B4D0E7;
    height: 250px; 
}
.sestoblocco-last{
    width: 80%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}
.sestoblocco-last-box-left{
    width: 60%;
    font-size: 40px;
    color: #541B56;
}
.sestoblocco-last-box-right{

}

/*SETTIMO BLOCCO*/
#settimo-blocco{
    width: 80%;
    height: 500px;
    margin: 0 auto;
    padding-top: 100px;

}
#settimo-blocco > h2{
    margin: 0 auto;
    border-bottom: 1px solid #B4D0E7;
    width: 80%;
    padding: 25px 0;
}

#settimo-blocco > p{
    margin: 0 auto;
    width: 80%;
    padding: 25px 0;
    border-bottom: 1px solid #B4D0E7;
}


/*FOOTER*/

footer{
    padding-top: 100px;
    height: 500px;
    background-color: #010413;
}

#footer-box{
    display: flex;
    justify-content: space-around;
    padding: 100px;
    color: white;
}
.footer-box > h4{
    padding: 20px 0;
    text-decoration: solid;
}

.footer-lenguage{
    width: 80%;
    margin: 0 auto;
    color: rgba(255, 255, 255, 0.521);
    display: flex;
    align-items: center;
    gap: 10px;
}
